@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1e1e1e;
  --background: #f0f0f0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #1e1e1e;
  }
} */

[data-theme='dark'] {
    --foreground: #fff;
    --background: #1e1e1e;
  }


body {
  color: var(--foreground);
  background: var(--background);
}
